#body {
    margin: 0;
    padding-top: 450px;
    background-color:#fff;
  }
  #header{
    position: fixed;
    width: 100%;
    top: 0;
    padding-top:100px;
    height:450px;
    width:100%;
    /* background-color:#563d7c; */
    background: url("../Images/college.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color:#fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  #header {
    h1 {
      font-size: 4vw;
      font-weight:600;
    }
 .lead {
   font-size:2.5vw;
   font-weight:100;
  }
  }
  .navbar,
  #main {
    position: relative; 
  }
  .navbar.navbar-default {
    z-index: 150;
    margin-bottom: -50px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
  }
  #main {
    background-color: #fff;
    padding-top:100px;
  }